@page "/"
@implements IDisposable
@using Gobo;
@using Gobo.Playground.Shared;

<div class="d-flex">
    <div class="side-panel p-3 d-flex flex-column" data-bs-theme="dark">

        <h5 class="text-light">Gobo Playground</h5>

        <div class="form-check pt-2" title="If checked, the line width will be limited.">
            <input type="checkbox"
                class="form-check-input"
                id="limitWidth"
                @bind="_formatOptions.LimitWidth"
                @bind:after="RequestUpdate" />
            <label for="limitWidth" class="text-light form-check-label">Limit Width</label>
        </div>

        @if (_formatOptions.LimitWidth)
        {
            <div class="mb-3" title="Max line width. -1 to disable.">
                <label for="maxLineWidth" class="form-label text-light">Max Line Width</label>
                <input type="number"
                    class="form-control form-control-sm"
                    id="maxLineWidth"
                    @bind="_formatOptions.MaxLineWidth"
                    @bind:after="RequestUpdate" />
            </div>
        }

        <div class="form-check pt-2" title="If checked, tabs will be used for indentation instead of spaces.">
            <input type="checkbox"
                class="form-check-input"
                id="useTabs"
                @bind="_formatOptions.UseTabs"
                @bind:after="RequestUpdate" />
            <label for="useTabs" class="text-light form-check-label">Use Tabs</label>
        </div>

        @if (!_formatOptions.UseTabs)
        {
            <div class="pb-2 pt-1">
                <label for="tabWidth" class="text-light">Tab Width</label>
                <input type="number"
                    class="form-control form-control-sm"
                    id="tabWidth"
                    @bind="_formatOptions.TabWidth"
                    @bind:after="RequestUpdate" />
            </div>
        }

        <div class="form-check">
            <input type="checkbox"
                class="form-check-input"
                id="showAst"
                @bind="_showAst"
                @bind:after="OnShowAstChanged" />
            <label for="showAst" class="text-light form-check-label">Show AST</label>
        </div>

        <div class="form-check" title="If checked, expressions will always be formatted horizontally.">
            <input type="checkbox"
                class="form-check-input"
                id="flatExpressions"
                @bind="_formatOptions.FlatExpressions"
                @bind:after="RequestUpdate" />
            <label for="flatExpressions" class="text-light form-check-label">Flat Expressions</label>
        </div>

        <div class="form-check" title="If checked, structs will always be formatted vertically.">
            <input type="checkbox"
                class="form-check-input"
                id="multilineStructs"
                @bind="_formatOptions.MultilineStructs"
                @bind:after="RequestUpdate" />
            <label for="multilineStructs" class="text-light form-check-label">Vertical Structs</label>
        </div>

        <div class="form-check" title="If checked, arrays will always be formatted vertically.">
            <input type="checkbox"
                class="form-check-input"
                id="multilineArrays"
                @bind="_formatOptions.MultilineArrays"
                @bind:after="RequestUpdate" />
            <label for="multilineArrays" class="text-light form-check-label">Vertical Arrays</label>
        </div>

        <div class="form-check" title="If checked, enforces newlines between the operands of a ternary expression.">
            <input type="checkbox"
                class="form-check-input"
                id="multilineTernary"
                @bind="_formatOptions.MultilineTernary"
                @bind:after="RequestUpdate" />
            <label for="multilineTernary" class="text-light form-check-label">Vertical Conditionals</label>
        </div>

        <div class="form-check" title="Insert a blank line between a block statement and any subsequent statement at the same scope level.">
            <input type="checkbox"
                class="form-check-input"
                id="blankLineAfterBlocks"
                @bind="_formatOptions.BlankLineAfterBlocks"
                @bind:after="RequestUpdate" />
            <label for="blankLineAfterBlocks" class="text-light form-check-label">\n After Blocks</label>
        </div>

        <div class="form-check" title="Replaces empty arguments in function calls with explicit `undefined` keyword.">
            <input type="checkbox"
                class="form-check-input"
                id="explicitUndefined"
                @bind="_formatOptions.ExplicitUndefined"
                @bind:after="RequestUpdate" />
            <label for="explicitUndefined" class="text-light form-check-label">Explicit Undefined</label>
        </div>

        <div class="form-check" title="Forces all function arguments onto new lines, regardless of line width.">
            <input type="checkbox"
                class="form-check-input"
                id="multilineArguments"
                @bind="_formatOptions.MultilineArguments"
                @bind:after="RequestUpdate" />
            <label for="multilineArguments" class="text-light form-check-label">Multiline Arguments</label>
        </div>

        <a class="btn btn-outline-light mt-auto" href="https://github.com/ettykitty/Gobo" target="_blank">
            <i class="bi-github"></i> GitHub
        </a>
    </div>

    <div id="panels" class="flex-grow-1 vh-100">
        <div class="row h-100 g-0">
            <div class="col-xl">
                <AceEditor @ref="inputEditor"
                        Value="@_input"
                        ValueChanged="@OnInputChanged"
                        Language="game_maker_language"
                        ShowPrintMargin="@ShowPrintMargin"> </AceEditor>
            </div>
            @if (_showAst)
            {
                <div class="col-xl">
                    <AceEditor @ref="astEditor"
                            Language="json"
                            TabSize="2"
                            IsReadonly="true"
                            ShowPrintMargin="@ShowPrintMargin"> </AceEditor>
                </div>
            }
            <div class="col-xl">
                <AceEditor @ref="outputEditor"
                        Language="game_maker_language"
                        IsReadonly="true"
                        ShowPrintMargin="@ShowPrintMargin"> </AceEditor>
            </div>
        </div>
    </div>
</div>

@code
{
    string _input = _initialText;
    FormatOptions _formatOptions = new() { GetDebugInfo = true, ValidateOutput = true };

    AceEditor? inputEditor;
    AceEditor? astEditor;
    AceEditor? outputEditor;

    string _lastAstOutput = "";
    bool _showAst = false;
    bool _astPanelOpened;

    private CancellationTokenSource? _cts;
    private bool _isDisposed;

    private bool ShowPrintMargin => _formatOptions.LimitWidth && _formatOptions.MaxLineWidth > 0;

    const string _initialText = @"//format this please!
x = a and b or c  a=0xFG=1 var var var i := 0
do begin
;;;;show_debug_message(i)
;;;;++constructor
end until not constructor < 10 return

call()";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateEditorMargins();
            await Format();
        }

        if (_showAst && astEditor != null && _astPanelOpened)
        {
            _astPanelOpened = false;
            await astEditor.SetText(_lastAstOutput);
            await UpdateEditorMargins();
        }
    }

    public void Dispose()
    {
        _isDisposed = true;
        if (_cts != null)
        {
            try
            {
                _cts.Cancel();
            }
            catch { }
            _cts.Dispose();
            _cts = null;
        }
    }

    async Task RequestUpdate()
    {
        await UpdateEditorMargins();
        await Format();
    }

    async Task UpdateEditorMargins()
    {
        int width = ShowPrintMargin ? _formatOptions.MaxLineWidth : 0;

        var tasks = new List<Task>();
        if (inputEditor != null) tasks.Add(inputEditor.SetWidth(width));
        if (outputEditor != null) tasks.Add(outputEditor.SetWidth(width));
        if (_showAst && astEditor != null) tasks.Add(astEditor.SetWidth(width));

        await Task.WhenAll(tasks);
    }

    async Task OnShowAstChanged()
    {
        if (_showAst)
        {
            _astPanelOpened = true;
        }

        await RequestUpdate();
    }

    Task OnInputChanged(string input)
    {
        _input = input;
        _ = Format();
        return Task.CompletedTask;
    }

    async Task Format()
    {
        if (_isDisposed) return;

        if (_cts != null)
        {
            var oldCts = _cts;
            _cts = null;

            try
            {
                await oldCts.CancelAsync();
            }
            catch { /* Ignore */ }
            finally
            {
                oldCts.Dispose();
            }
        }

        if (string.IsNullOrEmpty(_input))
        {
            if (outputEditor != null) await outputEditor.SetText("");
            return;
        }

        _cts = new CancellationTokenSource();
        var token = _cts.Token;

        try
        {
            await Task.Delay(300, token);

            if (_input.Length > 1_000_000 && outputEditor != null)
            {
                if (outputEditor != null) {
                    await outputEditor.SetLanguage("text");
                    await outputEditor.SetText("⚠️ Code length cannot exceed 1,000,000 characters.");
                }

                return;
            }

            var options = _formatOptions with { };

            var result = await Task.Run(() => GmlFormatter.Format(_input, options), token);

            if (token.IsCancellationRequested) return;

            if (result != null)
            {
                if (outputEditor != null)
                {
                    await outputEditor.SetLanguage("game_maker_language");
                    await outputEditor.SetText(result.Output ?? "");
                }

                _lastAstOutput = result.Ast ?? "";
                if (_showAst && astEditor != null)
                {
                    await astEditor.SetText(_lastAstOutput);
                }
            }
        }
        catch (OperationCanceledException) { /* Ignore */ }
        catch (Exception e)
        {
            try
            {
                if (outputEditor != null)
                {
                    await outputEditor.SetLanguage("text");
                    await outputEditor.SetText("❌ " + e.Message);
                }
            }
            catch { /* Ignore */ }
        }
    }
}
